<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>Mascot's Corner of the Internet</title>
    {% endif %}
    <meta name="description" content="Mascot's website">
    <meta name="author" content="mascotboi">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/favicon.ico">
  </head>
  <body>
    <header>
      <h1>Mascot <span>Boi</span></h1>
      <nav>
        (<span><a href="/">HOME</a></span>|
        <span><a href="/about">ABOUT</a></span>|
        <span><a href="/blog">BLOG</a></span>|
        <span><a href="/recitals">RECITALS</a></span>|
        <span><a href="/git">GIT</a></span>|
        <span><a href="/contact">CONTACT</a></span>)
      </nav>
    </header>

    <hr>

    <main>
      {% block content %}{% endblock %}
    </main>

    <hr>

    <aside>
      <section>
        <blockquote>
          ❝ What I wouldn't give to be normal.<br>
          &nbsp &nbsp &nbsp To live in that bubble of a naive. ❞
        </blockquote>
      </section>
    </aside>

    <footer>
      If you find this website ugly - <a href="http://motherfuckingwebsite.com">It's minimal</a>.
      <br>
      <span>
        &copy Copyright 2022 Mascot Boi. All rights reserved.
      </span>
    </footer>
  </body>
</html>
